<div class="form-page">

    <section class="form-1">
        <h2>Upload your Resume</h2>
        <p>Please upload your resume in PDF format. It will be analyzed and the data will be extracted for you on the next page.</p>
        <p>If you’d like to make changes, you will be able to.</p>

        <form method="POST" action="/form">
            <input type="file" name="resume" id="resume-input">
            <input type="submit" value="Upload">
        </form>
    </section>
    <section class="form-2">
        <h2>Verify Your Information</h2>
        <p>Please make any required corrections to the data we have extracted from your resume.</p>
        <p>This is the information that will go in your web page!</p>
    </section>
    <section class="form-3">
        <h2>Choose a Template</h2>
        <p>There are plenty of free templates you can choose from, as well as a few extra snazzy premium ones. Choose!</p>
    </section>

</div>