<div>

    <div id="homepagefirstdiv">
        <div id="title">Caronte</div>
        <div id="titlePageDescription">Generate a website with <br> only your resume!</div>
        <button id="titlePageButton">It's free! Start now!</button>
    </div>
    <div id="homepageseconddiv">
        <div class="information">
            <div class="informationTitle">1<br>Upload a<br>Resume<br></div>
            Our system will parse your resume and extract all the information. You fill in the rest!
        </div>
        <div class="information">
            <div class="informationTitle">1<br>Select a<br>Template<br></div>
            Select one from a list of tons of user-designed templates. You’re sure to find one you like!
        </div>
        <div class="information">
            <div class="informationTitle">1<br>Download<br>your site!<br></div>
            Applicants with a website are regarded more highly as professionals on job applications. What are you waiting for?
        </div>
    </div>
    <div id="homepagethirddiv">
        <div id="titleThirdPage">Why even use Caronte?</div>
        <div id="thirdPageDescription">Generate a website with <br> only your resume!</div>
        <button id="thirdPageButton">It's free! Start now!</button>
    </div>
</div>