<div>

    <div id="homepagefirstdiv">
        <div id="title">Saiyō</div>
        <div id="titlePageDescription">Generate a website with only your resume!</div>
        <a id="titlePageButton" href="/upload">It's free! Start now!</a>
    </div>
    <div id="homepageseconddiv">
        <div class="information">
            <div class="informationTitle">
                <div class="number">1</div>Upload a Resume
            </div>
            Our system will parse your resume and extract all the information. You fill in the rest!
        </div>
        <div class="information">
            <div class="informationTitle">
                <div class="number">2</div>Select a Template
            </div>
            Select one from a list of tons of user-designed templates. You’re sure to find one you like!
        </div>
        <div class="information">
            <div class="informationTitle">
                <div class="number">3</div>Download your site!<br>
            </div>
            Applicants with a website are regarded more highly as professionals on job applications. What are you
            waiting for?
        </div>
    </div>
    <div id="homepagethirddiv">
        <div id="titleThirdPage">Why even use Saiyō?</div>
        <div id="thirdPageDescription">Having a website in addition to your resume gives you more professionalism.
            Employers will take you more seriously. So what are you waiting for?</div>
        <a id="thirdPageButton" href="/upload">Get Started Now!</a>
    </div>
</div>