<div class="form-page">

    <section class="form-3">
        <h2>Choose a Template</h2>
        <progress id="step" value="3" max="3">3/3</progress>
        <p>There are plenty of free templates you can choose from, as well as a few extra snazzy premium ones. Choose!
        </p>
    </section>

    <div id="template-selection">
        <div class="selectTemplate">
            <div class="TemplatePhoto"><img src="templateone.png"></div>
            <div id="templateOneContent">
                <h3>Template One</h3>
                <p class="templatedescriptiontext">Back to basics with the traditional resume look. Simple, no colors, just your resume on a site!</p>
                <a href="/preview/1" type="button" class="previewbutton">Preview</a>
                <a href="/download/1" type="button" class="downloadbutton">Download</a>
            </div>
        </div>
        <div class="selectTemplate">
            <div class="TemplatePhoto"><img src="templatetwo.png"></div>
            <div id="templateTwoContent">
                <h3>Template Two</h3>
                <p class="templatedescriptiontext">A little bit more modern, maybe this one is to your tastes!</p>
                <a href="/preview/2" type="button" class="previewbutton">Preview</a>
                <a href="/download/2" type="button" class="downloadbutton">Download</a>
            </div>
        </div>
    </div>

</div>


<script>
    const query = window.location.search;

    document.querySelectorAll('.downloadbutton').forEach(button => {
        button.addEventListener('click', (ev) => {
            ev.target.href += query;
        })
    })

    document.querySelectorAll('.previewbutton').forEach(button => {
        button.addEventListener('click', (ev) => {
            ev.target.href += query;
        });
    });
</script>