<div class="form-page">

    <section class="form-3">
        <h2>Choose a Template</h2>
        <progress id="step" value="3" max="3">3/3</progress>
        <p>There are plenty of free templates you can choose from, as well as a few extra snazzy premium ones. Choose!
        </p>
    </section>

    <div id="template-selection">
        <div class="selectTemplate">
            <div class="TemplatePhoto"><img src="templateone.png"></div>
            <div id="templateOneContent">
                <h3>Template One</h3>
                <p class="templatedescriptiontext">This template is a black and one page with descriptions and...</p>
                <button type="button" class="previewbutton">Preview</button>
                <button type="button" class="downloadbutton">Download</button>
            </div>
        </div>
        <div class="selectTemplate">
            <div class="TemplatePhoto"><img src="templatetwo.png"></div>
            <div id="templateTwoContent">
                <h3>Template Two</h3>
                <p class="templatedescriptiontext">This template a great portfolio for web developers...</p>
                <button type="button" class="previewbutton">Preview</button>
                <button type="button" class="downloadbutton">Download</button>
            </div>
        </div>
    </div>

</div>
