<div class="form-page">

    <section class="form-3">
        <h2>Choose a Template</h2>
        <progress id="step" value="3" max="3">3/3</progress>
        <p>There are plenty of free templates you can choose from, as well as a few extra snazzy premium ones. Choose!
        </p>
    </section>

</div>
