*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font: 1em Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
}

/* a {
    color: #00b7ff;
} */

#homepagefirstdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 2em;
    min-height: 100vh;
    background-color: rgb(2, 0, 36);
    background: linear-gradient(
        45deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 40%,
        rgba(0, 212, 255, 1) 100%
    );
    color: white;
    font-size: 2em;
    text-align: right;
}

#homepagefirstdiv > * + * {
    margin-top: 1rem;
}

#title {
    font-size: 6em;
    font-weight: bold;
}

#titlePageButton {
    padding: 0.5rem 2rem;
    min-width: 50vw;
    background-color: white;
    border: none;
    border-radius: 10rem;
    color: rgb(2, 0, 36);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

@media (max-width: 900px) {
    #homepagefirstdiv {
        font-size: 1em;
    }
}

#homepageseconddiv {
    display: grid;
    grid-gap: 2rem;
    padding: 2em;
    font-size: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
}

.information {
    padding: 1.5em;
    background-color: #ffffff;
    display: inline-block;
    text-align: center;
}

.information .number {
    font-weight: bold;
    font-size: 2em;
}

.informationTitle {
    font-size: 2em;
}

@media (max-width: 900px) {
    #homepageseconddiv {
        grid-template-columns: 1fr;
        font-size: 1em;
    }
    .resumedatadisplay{
        grid-template-columns: 1fr;
    }
}

#homepagethirddiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
    background-color: rgb(2, 0, 36);
    background: linear-gradient(
        -135deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 40%,
        rgba(0, 212, 255, 1) 100%
    );
    color: white;
    font-size: 2em;
}

#homepagethirddiv > * + * {
    margin-top: 1rem;
}

#titleThirdPage {
    font-size: 2em;
    font-weight: bold;
}

#thirdPageButton {
    padding: 0.5rem 2rem;
    min-width: 50vw;
    background-color: white;
    border: none;
    border-radius: 10rem;
    color: rgb(2, 0, 36);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
}

@media (max-width: 900px) {
    #homepagethirddiv {
        font-size: 1em;
    }
    #titleThirdPage {
        font-size: 3em;
    }
}

.form-page {
    position: relative;
    padding: 2em;
    min-height: 100%;
    background-color: rgb(2, 0, 36);
    background: linear-gradient(
        -135deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 40%,
        rgba(0, 212, 255, 1) 100%
    );
    color: white;
    font-size: 1.5em;
}
#personalinfo{
    margin-top: 1vh;
    background-color: white;
    color: black;
    
}
.resumedatadisplay{
    margin-top: 1vh;
    
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
    
    
    
}
#personalinfo p{
    min-width: 10vw;
}
#personalinfo *{
    display: inline-block;
}
.informationbox{
    margin-top: 1vh;
    background-color: white;
    color: black;
    width: 100%;
    
}
.informationboxform{
    min-height: 20vh;
    width: 90%;
    justify-content: center;
    
}
.form-page section {
    padding: 2em;
    background-color: white;
    color: rgb(2, 0, 36);
    text-align: center;
}

.form-page section * + * {
    margin-top: 0.5em;
}

.form-page h2 {
    font-size: 2em;
}

#resume-submit,
#resume-input {
    font-size: inherit;
}

::-webkit-file-upload-button,
#resume-submit {
    display: inline-block;
    padding: 0.5em 2em;
    border: none;
    font-weight: bold;
}

#resume-input:valid {
    background-color: rgba(0, 255, 0, 0.1);
}

#resume-input:invalid {
    background-color: rgba(255, 0, 0, 0.1);
}
#template-selection {
    display: grid;
    grid-gap: 2rem;
    padding: 2em;
    font-size: 2rem;
    grid-template-columns: 1fr 1fr;
    background-color: white;
}
@media (max-width: 900px) {
    #template-selection {
        grid-template-columns: 1fr;
        font-size: 1em;
    }
    
}
.selectTemplate{
    border-radius: 2px;
    border-color: blue;
    border-style: solid;
    color: black;
    display: flex;
    
}


.previewbutton{
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); 
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 15%;
}
.downloadbutton{
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 15%;
    background-image: linear-gradient(rgb(28, 110, 164) 0%, rgb(20, 78, 117) 100%);
    
    border-color:blue;
}
.templatedescriptiontext{
    font-size: 16px;
}
.TemplatePhoto{
    width: 354px;
    height: 219px;
}